body{
  background-color: #E5E5E5;
}
.company-profile{
  margin-top: 40px;
}
.company-title {
  font-weight: bold;
}
.large-max{
  margin-top: 20px;
  font-size: 10em !important;
}
p.infor-profile span, a{
  vertical-align: super;
}
p.infor-profile{
  margin: 5px;
}
.space-top{
  margin-top: 50px;
}
.selected-type{
  border: 5px solid yellow;
}
.list-text-black li a {
  color: #263238;
}
h3.title-page hr {
  border: 2px solid #00bfa5;
  margin-top: 12px;
  width: 247px;
  margin-left: 0;
}
.card-content.content-small{
  padding: 18px 4px !important;
}

.card-action.action-small{
  padding: 10px 15px !important;
}
.card.small .card-content {
  height: 90px !important;
}
.card.small.card-custom{
  background-color: #EBEFF2;
}
.text-small {
  font-size: 13px;
}
.add-container {
  padding-top: 20px
}
.add-container span{
  padding-left: 5px
}
.input-field input[type=search]:focus {
  background-color: #E5E5E5;
  border-bottom: 1px solid #03B9B9;
}
.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 1rem;
  width: calc(100% - 0rem);
}
@media only screen and (min-width: 993px){
  .container{
    width: 90%;
  }
}