body{
  background-color: #E5E5E5;
}
.company-profile{
  margin-top: 40px;
}
.company-title {
  font-weight: bold;
}
.large-max{
  margin-top: 20px;
  font-size: 10em !important;
}
p.infor-profile span, a{
  vertical-align: super;
}
p.infor-profile{
  margin: 5px;
}
.space-top{
  margin-top: 50px;
}
.selected-type{
  border: 5px solid yellow;
}
.list-text-black li a {
  color: #263238;
}
h3.title-page hr {
  border: 2px solid #00bfa5;
  margin-top: 12px;
  width: 16%;
  margin-left: 0;
}
.card-content.content-small{
  padding: 18px 4px !important;
}
.card-content.content-project{
  padding: 18px 4px !important;
}
.card-content .title-company{
  padding-bottom: 5px;
  font-size: 14px;
}
.card-content .skills{
  padding-bottom: 5px;
  font-size: 12px;
  color:#989898 !important;
}
.card-action.action-small{
  padding: 10px 15px !important;
}
.card.small .card-content {
  height: 90px;
}
.card.small .content-project {
  height: 106px;
}
.card.small.card-custom{
  background-color: #EBEFF2;
}
.card.small.card-project{
  background-color: #EBEFF2;
  height: 320px;
}
.text-small {
  font-size: 13px;
}
.add-container {
  padding-top: 20px
}
.add-container span{
  padding-left: 5px
}
.input-field input[type=search]:focus {
  background-color: #E5E5E5;
  border-bottom: 1px solid #03B9B9;
}
.input-field input[type=search] {
  display: block;
  line-height: inherit;
  padding-left: 1rem;
  width: calc(100% - 0rem);
}
.fields-img{
  padding-top: 5px;
}
@media only screen and (min-width: 993px){
  .container{
    width: 90%;
  }
}

.container-edit-profile {
  margin-top: 20px;
}

.title-edit-profile-company {
  color: #283337 !important;
  margin-top: 10px;
  font-size: 40px;
}

.title-edit-profile-company hr {
  border: 2px solid #00bfa5;
  margin-left: 0;
  margin-top: 12px;
  width: 215px;
}

.text-title-company-profile {
  font-size: 26px;
  margin: 10px 0;
}

.text-title-company-profile hr {
  border: 2px solid #00bfa5;
  margin-left: 0;
  margin-top: 28px;
  width: 215px;
}

.text-thin {
  font-weight: 300;
}

.btn-file-company-profile {
  color: #2d776a !important;
  background-color: #eceff1 !important;
  font-size: 20px;
  font-weight: 400;
  text-transform: none !important;
}

.btn-picture-company-profile {
  color: #2d776a !important;
  background-color: #eceff1 !important;
  font-size: 20px;
  font-weight: 400;
  text-transform: none !important;
  height: 3rem;
  line-height: 3rem;
  margin-top: 35px;
}

.margin-top-field-text {
  margin-top: 0px;
}

.margin-top-file-field {
  margin-top: 14px;
}

.btn-company-profile-submit {
  background-color: #00bfa5 !important;
  border-radius: 5px !important;
  font-size: 20px;
  font-weight: 500;
  text-transform: none !important;
}

.btn-cancel-company-profile {
  color: #2d776a !important;
  background-color: #eceff1 !important;
  border-radius: 5px !important;
  font-size: 20px;
  font-weight: 500;
  text-transform: none !important;
}

.company-info{
  font-size: 23px;
  padding-left: 120px;
  padding-top: 15px;
}

.company-data{
  padding-top: 0;
}

.company-info p{
  padding: 0;
  margin: 0;
}

.company-info p strong{
  font-weight: 800;
}

.skill-card{
  border: 3px solid #E5E5E5;
  font-size: 18px;
}

.label-skill{
  font-size: 20px;
  margin: 0;
}

.project-images{
  width: 100%;
}

.contact-button{
  font-size: 20px;
}

.project-description{
  color:grey;
}
.company-website{
  vertical-align: baseline;
}
.company-logo{
  margin-top: 18px;
}
.edit-link{
  padding-top: 42px;
  font-size: 22px;
  text-decoration: underline;
}